<script src="../../sing-up-module/singup.component.ts"></script>
<div *ngIf="isNewExist" class="notification" [ngClass]="{'alert alert-success': successClass, 'alert alert-info': infoClass,
  'alert alert-warning': warningClass, 'alert alert-danger': dangerClass}" [@flyInOut]="getState()">
  <span>
    <img src="../../../favicon.ico" id="notify-icon">
    <strong id="from-where">{{notification.from}}</strong>
    <span id="alert-time">{{notification.date | date:'mediumTime'}}<button (click)="close()" *ngIf="closeExist" id="close-button"> X </button></span>
  </span>
    <br>
  <div>
    <p>{{notification.content}}</p>
  </div>
</div>
