div.notification {
  z-index: 2;
  position: fixed;
  left: 30%;
  right: 30%;
  width: 40%;
  opacity: 0.8;
  text-align: left;
}

strong#from-where {
  float: left;
}

span#alert-time {
  float: right;
}

button#close-button {
  float: right;
}

img#notify-icon {
  float: left;
}
