<div class="img-annotation">

  <header>
    <h1>{{img.header}}</h1>
    <p>Created at {{ img.create_time | date: 'medium' }} by {{ img.creater_name }} with {{ img.count_comments }} comments.</p>
    <hr>
  </header>

  <div class="img-show">
    <div class="real-img">
      <img src="{{'http://localhost:8888' + img.path}}" width="78%" class="img-original" id="test" (click)="addComment($event)">
      <div class="img-comments" *ngIf="showSideComment">
        <textarea class="comments" placeholder="add comment to ({{commentX}}, {{commentY}})" #comment></textarea>
        <br>
        <button (click)="commentComponent.sendComment(comment.value, (commentX / imgWidth).toFixed(6),
        (commentY / imgHeight).toFixed(6))">Send</button>
        <button (click)="cancle()">Cancle</button>
        <hr>
      </div>

      <div *ngIf="!showSideComment" class="inline-comments">
        <div *ngFor="let comment of comments; let i = index;" class="sideComment">
          {{comment.post_by}} | {{comment.create_date * 1000 | date:'short'}} | <a href="{{getCurrentUrl() + '#' + 'comment'
          + comment.p_num.toString() + comment.s_num.toString()}}">Reply</a>
          <br>
          <div [innerHtml] = "comment.content | MarkdownToHtml"></div>
          <hr>
        </div>
        <textarea class="comments" placeholder="add comment to {{ this.sidePnum }}, {{ this.sideSnum }}" #inlinecomment></textarea>
        <br>
        <button (click)="commentComponent.sendComment(inlinecomment.value, sidePnum, sideSnum)">Send</button>
      </div>

      <div *ngIf="!isPixelCommentsExist() && (!showSideComment)" class="inline-comments">
        <p>There is no comments for this area, try add one!</p>
      </div>

    </div>

    <div class="img-note">
      <img src="http://localhost:8888/static/76d509fa2550b9e3cfbcf85121de4828.jpg"
           width="1%"
           *ngFor="let comment of commentComponent.comments"
           (click)="showSideNote(comment, commentComponent.comments)"
           [ngStyle]="setStyles(comment.p_num, comment.s_num)">
    </div>
  </div>

  <article>
    <div [innerHtml]="img.note | MarkdownToHtml "></div>
  </article>
  <hr>

  <comments class="comments" #commentComponent (onClickId)="onClickId($event)" [mentionList]="mentionItems" [commentType]="img" ></comments>

</div>
