<div class="photo">
  <img src="../shared/56fb736cce726的副本.jpg" width="200px" height="200px">
</div>

<div class="content">
  <ngb-tabset>
  <ngb-tab title="发布的文章">
    <template ngbTabContent>
      <table class="table">
        <tr>
          <th>标题</th>
          <th>创建日期</th>
          <th>修改日期</th>
          <th>评论数</th>
        </tr>

        <tr *ngFor="let post of posts">
          <td><a routerLink="/post/{{post.post_id}}">{{post.post_head}}</a></td>
          <td>{{post.create_date | date:'medium'}}</td>
          <td>{{post.last_modify | date:'medium'}}</td>
          <td>{{post.comments_count}}</td>
        </tr>
      </table>
    </template>
  </ngb-tab>

  <ngb-tab>
    <template ngbTabTitle><b>正在</b>关注</template>
    <template ngbTabContent>
      <div *ngFor="let user of follows">
        <p>
          <a routerLink="/profile/{{user.id}}">{{user.name}}</a>
        </p>
      </div>
    </template>
  </ngb-tab>

  <ngb-tab title="关注者">
    <template ngbTabContent>
      <div *ngFor="let user of fans">
        <p>
          <a routerLink="/profile/{{user.id}}">{{user.name}}</a>
        </p>
        <hr>
      </div>
    </template>
  </ngb-tab>

  <ngb-tab title="我的评论">
    <template ngbTabContent>
      <table class="table">
        <tr>
          <th>序号</th>
          <th>创建日期</th>
          <th>修改日期</th>
          <th>内容</th>
          <th>down</th>
          <th>up</th>
          <th>hold</th>
          <th>操作</th>
        </tr>

        <tr *ngFor="let comment of comments; let i = index;">
          <td>{{i}}</td>
          <td>{{ comment.create_date | date:'medium' }}</td>
          <td>{{ comment.last_modify | date:'medium'}}</td>
          <td><a routerLink="{{getCommentLink(comment)}}">{{ comment.content }}</a></td>
          <td>{{ comment.down }}</td>
          <td>{{ comment.up }}</td>
          <td>{{ comment.hold }}</td>
          <td><a (click)="delComment(comment.comment_id, comment.post_id, comment.type || 'post')" style="color: red;">删除</a></td>
        </tr>
      </table>
    </template>
  </ngb-tab>

  <ngb-tab title="我的通知">
    <template ngbTabContent>
      <table class="table">
        <tr>
          <th>序号</th>
          <th>创建日期</th>
          <th>内容</th>
          <th>已读</th>
          <th>消息类型</th>
          <th>操作</th>
        </tr>

        <tr *ngFor="let notification of notifications; let i = index;">
          <td>{{i}}</td>
          <td>{{ notification.date | date:'medium' }}</td>
          <td><a [innerHtml]="notification.content"></a></td>
          <td>{{ notification.has_read }}</td>
          <td>{{ notification.type }}</td>
          <td><a (click)="delNotification(notification.id)" style="color: red;">删除</a></td>
        </tr>
      </table>
    </template>
  </ngb-tab>
</ngb-tabset>
</div>

<div class="follow-button">
  <button type="button" class="btn-outline-primary" (click)="addFollow()" *ngIf="!hasFollowed">关注</button>
  <button type="button" class="btn-outline-primary" (click)="unfollow()" *ngIf="hasFollowed">取消关注</button>
  <button type="button" class="btn-outline-primary" (click)="editProfile()">编辑个人资料</button>
</div>

<div class="user-profile">
  <p>User name: {{profile.username}}</p>
  <p>Confirmed Email: {{profile.confirmed}}</p>
  <p>Register Email: {{profile.email}}</p>
  <p>User ID: {{profile.id}}</p>
  <p>User Role: {{profile.role}}</p>
</div>


