<div class="photo">
  <img src="../shared/56fb736cce726的副本.jpg" width="200px" height="200px">
</div>

<div class="content">
  <ngb-tabset>
  <ngb-tab title="发布的文章">
    <template ngbTabContent>
      <table class="table">
        <tr>
          <th>标题</th>
          <th>创建日期</th>
          <th>修改日期</th>
          <th>评论数</th>
        </tr>

        <tr *ngFor="let post of posts">
          <td><a routerLink="/post/{{post.post_id}}">{{post.post_head}}</a></td>
          <td>{{post.create_date | date:'medium'}}</td>
          <td>{{post.last_modify | date:'medium'}}</td>
          <td>{{post.comments_count}}</td>
        </tr>
      </table>
    </template>
  </ngb-tab>

  <ngb-tab>
    <template ngbTabTitle><b>正在</b>关注</template>
    <template ngbTabContent>
      <div *ngFor="let user of follows">
        <p>
          <a routerLink="/profile/{{user.id}}">{{user.name}}</a>
        </p>
      </div>
    </template>
  </ngb-tab>

  <ngb-tab title="关注者">
    <template ngbTabContent>
      <div *ngFor="let user of fans">
        <p>
          <a routerLink="/profile/{{user.id}}">{{user.name}}</a>
        </p>
        <hr>
      </div>
    </template>
  </ngb-tab>

  <ngb-tab title="我的评论" [disabled]="canCheckComments">
    <template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </template>
  </ngb-tab>

  <ngb-tab title="我的通知" [disabled]="canCheckNotification">
    <template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </template>
  </ngb-tab>
</ngb-tabset>
</div>

<div class="follow-button">
  <button type="button" class="btn-outline-primary" (click)="addFollow()" *ngIf="!hasFollowed">关注</button>
  <button type="button" class="btn-outline-primary" (click)="unfollow()" *ngIf="hasFollowed">取消关注</button>
  <button type="button" class="btn-outline-primary" (click)="editProfile()">编辑个人资料</button>
</div>

<div class="user-profile">
  <p>User name: {{profile.username}}</p>
  <p>Confirmed Email: {{profile.confirmed}}</p>
  <p>Register Email: {{profile.email}}</p>
  <p>User ID: {{profile.id}}</p>
  <p>User Role: {{profile.role}}</p>
</div>


