*.py[cod]
*.so
*.egg
*.egg-info
/venv
.idea
.DS_Store
Back_end/.DS_Store
Back_end/__pycache__/
Back_end/app/.DS_Store
Back_end/app/__pycache__/
Back_end/app/celery_mq/__pycache__/
Back_end/app/email_module/__pycache__/
Back_end/app/handlers/__pycache__/
Back_end/app/model/__pycache__/
Back_end/app/static/2.jpg
Back_end/app/static/62386f90jw1f56ewauejaj21400p0agp.jpg
Back_end/app/static/daad722143673f39959b8f8df91e29af.jpg
Back_end/app/static/f65efe0af8e13eb595e6b39a430ac043.jpg
Back_end/app/static/interstellar-movie-hd-wallpaper-and-poster.jpeg
dump.rdb
front_end/.editorconfig
front_end/.gitignore
front_end/README.md
front_end/angular-cli.json
front_end/e2e/
front_end/karma.conf.js
front_end/package.json
front_end/protractor.conf.js
front_end/src/app/shared/markdown.module/.gitignore
front_end/src/app/shared/markdown.module/.npmignore
front_end/src/app/shared/markdown.module/.travis.yml
front_end/src/app/shared/markdown.module/LICENSE
front_end/src/app/shared/markdown.module/README.md
front_end/src/app/shared/markdown.module/index.ts
front_end/src/app/shared/markdown.module/package.json
front_end/src/app/shared/markdown.module/tests/
front_end/src/app/shared/markdown.module/tsconfig.json
front_end/src/app/shared/markdown.module/tslint.json
front_end/src/assets/
front_end/src/environments/
front_end/src/favicon.ico
front_end/src/index.html
front_end/src/main.ts
front_end/src/polyfills.ts
front_end/src/styles.css
front_end/src/test.ts
front_end/src/tsconfig.json
front_end/src/typings.d.ts
front_end/tslint.json
