<div class="img-publish">
  <div class="header">
    <button routerLink="/publish/post">Post</button>
    <button routerLink="/publish/img" routerLinkActive="active">Image</button>
  <hr>
  </div>

  <div class="post-img">
    <file-upload #fu (change)="fu.fileChange(fu)"></file-upload><br>
    <label>Header: </label>
    <input #img_header /><br>
    <label>comment: </label>
    <textarea #note cols="80" rows="5" placeholder="add your note!"></textarea>
    <hr>
    <button (click)="fu.upload(img_header.value, note.value)">Submit</button>
  </div>

</div>
