aside {
  float: right;
  width: 24%;
}

p.paragraph {
  width:75%;
  float:left;
  padding:5px;
  font-size: small;
}

hr.lineOfComments {
  float: left;
}

comments.comments {
  float: left;
}

span.highlight-for-comment {
  background-color: yellow;
}

span.dis-highlight {
  background-color: inherit;
}

div.sideComment {
  font-size: small;
  width: 85%;
}
