aside {
  float: right;
  width: 30%;
}

p.paragraph {
  width:70%;
  float:left;
  padding:5px;
  font-size: small;
}

hr.lineOfComments {
  float: left;
}

comments.comments {
  float: left;
  width: 80%;
  margin-left: 10%;
  font-size: small;
}

span.highlight-for-comment {
  background-color: yellow;
}

span.dis-highlight {
  background-color: inherit;
}

div.sideComment {
  font-size: small;
}

article.article {
  width: 80%;
  margin-left: 10%;
}

div.article-info {
  font-size: small;
  margin-left: 1%;
}

header.article-head {
  margin-left: 1%;
}

div.article-content{
  font-size: small;
  width: 98%;
  margin-left: 1%;
}
