<!--private comments_count: number,-->
<!--private content: string,-->
<!--private create_date: number,-->
<!--private last_modify: number,-->
<!--private post_by_name: string, -->
<!--private post_by_id: string,-->
<!--private post_id: string,-->

<article class="article">
  <hr>
  <header>{{post.post_head || 'No head'}}</header>

  <div class="article-info">
    Posted by: {{post.post_by_name}} at {{post.create_date * 1000 | date:'medium'}}
    with {{post.comments_count}} comments
    <span *ngIf="post.create_date !== post.last_modify">| Modified at: {{post.last_modify * 1000 | date:'medium'}}</span>
  </div>

  <hr>
  <div class="article-content">
    <div *ngFor="let paragraph of content; let i = index;">
      <p class="paragraph" id="{{i.toString()}}">
        <span *ngFor="let sentence of paragraph; let j = index;" id="{{i.toString() + j.toString()}}"
              [innerHTML]="sentence[0]"
              [ngClass]="{'highlight-for-comment': ((inlinePosition[0] === i) && (inlinePosition[1] == j)),
              'dis-highlight': !((inlinePosition[0] === i) && (inlinePosition[1] == j))}"
              (click)="comment(sentence[1], sentence[2]); getSentenceComments(i, j)"></span>
      </p>

      <aside *ngIf="inlinePosition[0] === i">
        <div>
          <textarea rows="5" cols="30" #inlineCommentBox [mention]="mentionItems" class="form-control"
                    placeholder="Add sentence comments of Paragraph {{inlinePosition[0]}}, sentence {{inlinePosition[1]}}"
                    required></textarea>
          <br>
          <button type="submit"
                  (click)="inlineComments=[]; commentComponent.sendComment(inlineCommentBox.value,
                  inlinePosition[0], inlinePosition[1]); inlineCommentBox.value='';
                  getComments(post.post_id); getSentenceComments(inlinePosition[0], inlinePosition[1]);">Send</button>
          <button type="button" (click)="cancle()">Cancel</button>
          <hr class="sideComment">

          <div *ngIf="isInlineCommentExist()">
            <div *ngFor="let comment of inlineComments" class="sideComment">
              {{comment.post_by}} | {{comment.create_date * 1000 | date:'short'}} | <a href="{{getCurrentUrl() + '#' + 'comment'
              + inlinePosition[0].toString() + inlinePosition[1].toString()}}">Reply</a>
              <br>
              <div [innerHtml] = "comment.content | MarkdownToHtml"></div>
              <hr>
            </div>
          </div>

          <div *ngIf="!isInlineCommentExist()">
            <p>There is no comments for this sentence, try add one!</p>
          </div>

        </div>
      </aside>
    </div>
  </div>
</article>

<hr class="lineOfComments">
<comments class="comments" #commentComponent (onClickId)="onClickId($event)" [mentionList]="mentionItems"></comments>
