<!--private comments_count: number,-->
<!--private content: string,-->
<!--private create_date: number,-->
<!--private last_modify: number,-->
<!--private post_by_name: string, -->
<!--private post_by_id: string,-->
<!--private post_id: string,-->

<article class="article">

  <header>{{post.post_head || 'No head'}}</header>

  <div class="article-info">
    Posted by: {{post.post_by_name}} at {{post.create_date * 1000 | date:'medium'}}
    with {{post.comments_count}} comments
    <span *ngIf="post.create_date !== post.last_modify">| Modified at: {{post.last_modify * 1000 | date:'medium'}}</span>
  </div>

  <hr>
  <div class="article-content">
    <div *ngFor="let paragraph of content; let i = index;">
      <p id="paragraph">
        <span *ngFor="let sentence of paragraph"
              [innerHTML]="sentence[0]" (click)="comment(sentence[1], sentence[2])"></span>
      </p>

      <aside>
        <textarea rows="5" cols="27" placeholder="Add sentence comments of Paragraph {{inlinePosition[0]}}, sentence {{inlinePosition[1]}}"
                  *ngIf="pCommentBoxVisible[i]"></textarea>
      </aside>
    </div>
  </div>
</article>

<hr class="lineOfComments">
<comments class="comments"></comments>
