<h1>Publish New Post</h1>
<hr>

<div>Title:
  <input [(ngModel)]="head" required>
</div>

<div>
  Content:
  <textarea class="mce-textbox" [(ngModel)]="content" required></textarea>
</div>

<br>
<button class="btn-default" type="submit" (click)="publish()">Publish</button>
<button class="btn-danger" type="reset" (click)="clear(); content='';">Reset</button>
<hr>
Preview:
<div><b>{{head}}</b></div>

<div>
  <pre>
    {{content}}
  </pre>
</div>

Markdown preview:
<div [innerHTML]="content|MarkdownToHtml"></div>

