<span (click)="showNotifications()">Notification[{{numOfNotifications}}]</span>
<div class="notificationList" *ngIf="showNotifyList">
    <ngb-accordion [closeOthers]="true" activeIds="1" *ngFor="let message of notifications; let i = index;">
    <ngb-panel id="{{i}}" title="{{message.info_from}}: {{message.content | slice:0:15}}...  @{{message.date}}">
      <template ngbPanelContent>
        {{message.content}}
      </template>
    </ngb-panel>
  </ngb-accordion>
</div>

<!--<ngb-panel id="2">-->
      <!--<template ngbPanelTitle>-->
        <!--<span>&#9733; <b>Fancy</b> title &#9733;</span>-->
      <!--</template>-->
      <!--<template ngbPanelContent>-->
        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia-->
        <!--aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
        <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
        <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
        <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
        <!--labore sustainable VHS.-->
      <!--</template>-->
    <!--</ngb-panel>-->
    <!--<ngb-panel id="3" title="Disabled" [disabled]="true">-->
      <!--<template ngbPanelContent>-->
        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia-->
        <!--aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
        <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
        <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
        <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
        <!--labore sustainable VHS.-->
      <!--</template>-->
    <!--</ngb-panel>-->
