<div (click)="showNotifications()">Notification[{{numOfNotifications}}]</div>

<div class="notificationList" *ngIf="showNotifyList">
    <ngb-accordion [closeOthers]="true" activeIds="0" *ngFor="let message of notifications; let i = index;">
    <ngb-panel id="{{i}}" title="{{message.info_from_name}}: {{message.content | slice:0:15}}...  @{{message.date | date:'short'}}">
      <template ngbPanelContent>
        {{message.content}}
      </template>
    </ngb-panel>
    </ngb-accordion>

  <button (click)="sendMessage()">hello</button>
</div>

<div class="chat">
  <div #scrollMe class="messages"  *ngIf="showChatContent">
    <div *ngFor="let msg of messages">

      <div ngbDropdown class="d-inline-block">
        <a id="dropdownMenu1" ngbDropdownToggle>
          <span [ngClass]="{'global-message': msg.type === 6, 'personal-message': msg.type === 4, 'group-message': msg.type === 5 }">
            [{{msg.info_from_name}}]</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" (click)="goToProfile(msg.info_from)">查看资料</button>
        <button class="dropdown-item" (click)="sendMessageById(msg.info_from, msg.info_from_name)">发送消息</button>
        <button class="dropdown-item">添加关注</button>
        </div>
      </div>


      <span [ngClass]="{'global-message': msg.type === 6, 'personal-message': msg.type === 4, 'group-message': msg.type === 5 }"
      (click)="showtime()">{{msg.content}}</span>

      <span *ngIf="showTime">{{msg.date | date:'short'}}</span>
    </div>
  </div>

  <div class="chat-input">
    <input #chat
      name="msg"
      type="text"
      class="form-control"
      placeholder={{placeholder()}}
      (click)="showChatContent=true;"
      (keyup.enter)="sendMsg(chat.value); chat.value='';"
      (keyup.control)="changeSendTo()"
      required>
  </div>
</div>
